In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
%matplotlib inline

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
#load the dataset
cosmetics_df = pd.read_csv("Cosmetics.csv")
cosmetics_df.head()

,Trans.,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,1,0,1,1,1,1,0,1,1,1,0,0,0,0,1
1,2,0,0,1,0,1,0,1,1,0,0,1,1,0,0
2,3,0,1,0,0,1,1,1,1,1,1,1,1,1,0
3,4,0,0,1,1,1,0,1,0,0,0,1,0,0,1
4,5,0,1,0,0,1,0,1,1,1,1,0,1,1,0

In [3]:
cosmetics_df.drop('Trans. ',inplace = True, axis = 1)

In [12]:
frequent_itemsets = apriori(cosmetics_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules.head()
rules.sort_values(by=['lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2255,"(Nail Polish, Eye shadow, Concealer)","(Brushes, Mascara)",0.078,0.083,0.050,0.641026,7.723200,0.043526,2.554500
2270,"(Brushes, Mascara)","(Nail Polish, Eye shadow, Concealer)",0.083,0.078,0.050,0.602410,7.723200,0.043526,2.318970
2257,"(Nail Polish, Concealer, Mascara)","(Brushes, Eye shadow)",0.083,0.081,0.050,0.602410,7.437156,0.043277,2.311424
2268,"(Brushes, Eye shadow)","(Nail Polish, Concealer, Mascara)",0.081,0.083,0.050,0.617284,7.437156,0.043277,2.396032
1343,"(Brushes, Eye shadow)","(Nail Polish, Mascara)",0.081,0.134,0.074,0.913580,6.817763,0.063146,10.020857
...,...,...,...,...,...,...,...,...,...
622,"(Eye shadow, Foundation)",(Bronzer),0.211,0.279,0.071,0.336493,1.206068,0.012131,1.086650
17,(Concealer),(Nail Polish),0.442,0.280,0.149,0.337104,1.203943,0.025240,1.086143
16,(Nail Polish),(Concealer),0.280,0.442,0.149,0.532143,1.203943,0.025240,1.192672
2397,"(Eye shadow, Lip Gloss, Foundation, Mascara)",(Concealer),0.111,0.442,0.059,0.531532,1.202560,0.009938,1.191115
2422,(Concealer),"(Eye shadow, Lip Gloss, Foundation, Mascara)",0.442,0.111,0.059,0.133484,1.202560,0.009938,1.025948

In [10]:
#load the dataset
coursetopic_df = pd.read_csv("coursetopic.csv")
coursetopic_df.head()

   Intro  DataMining  Survey  Cat Data  Regression  Forecast  DOE  SW
0      1           1       0         0           0         0    0   0
1      0           0       1         0           0         0    0   0
2      0           1       0         1           1         0    0   1
3      1           0       0         0           0         0    0   0
4      1           1       0         0           0         0    0   0

In [11]:
frequent_itemsets = apriori(coursetopic_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cat Data),(Survey),0.208219,0.186301,0.063014,0.302632,1.62442,0.024222,1.166813
1,(Survey),(Cat Data),0.186301,0.208219,0.063014,0.338235,1.62442,0.024222,1.196469
2,(Regression),(Cat Data),0.208219,0.208219,0.054795,0.263158,1.26385,0.011439,1.074560
3,(Cat Data),(Regression),0.208219,0.208219,0.054795,0.263158,1.26385,0.011439,1.074560
4,(Cat Data),(SW),0.208219,0.221918,0.063014,0.302632,1.36371,0.016806,1.115741

In [5]:
#load the dataset
retail_df = pd.read_csv("market basket.csv")
retail_df.head()

,cardid,value,pmethod,sex,homeown,income,age,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,39808,42.7123,CHEQUE,M,NO,27000,46,F,T,T,F,F,F,F,F,F,F,T
1,67362,25.3567,CASH,F,NO,30000,28,F,T,F,F,F,F,F,F,F,F,T
2,10872,20.6176,CASH,M,NO,13200,36,F,F,F,T,F,T,T,F,F,T,F
3,26748,23.6883,CARD,F,NO,12200,26,F,F,T,F,F,F,F,T,F,F,F
4,91609,18.8133,CARD,M,YES,11000,24,F,F,F,F,F,F,F,F,F,F,F

In [6]:
retail_df.drop(['cardid','value','pmethod','sex','homeown','income','age'],inplace = True, axis = 1)

In [7]:
for i in retail_df.columns:
    retail_df[i] = retail_df[i].apply(lambda x: 0 if (x == 'F') else 1 )

In [7]:
frequent_itemsets = apriori(retail_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules.to_csv('Market Basket Association Rules.csv',index = False)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(fish),(fruitveg),0.292,0.299,0.145,0.496575,1.660787,0.057692,1.392463
1,(fruitveg),(fish),0.299,0.292,0.145,0.484950,1.660787,0.057692,1.374623
2,(cannedveg),(frozenmeal),0.303,0.302,0.173,0.570957,1.890586,0.081494,1.626877
3,(frozenmeal),(cannedveg),0.302,0.303,0.173,0.572848,1.890586,0.081494,1.631736
4,(cannedveg),(beer),0.303,0.293,0.167,0.551155,1.881075,0.078221,1.575154
5,(beer),(cannedveg),0.293,0.303,0.167,0.569966,1.881075,0.078221,1.620802
6,(frozenmeal),(cannedmeat),0.302,0.204,0.075,0.248344,1.217374,0.013392,1.058996
7,(cannedmeat),(frozenmeal),0.204,0.302,0.075,0.367647,1.217374,0.013392,1.103814
8,(beer),(frozenmeal),0.293,0.302,0.170,0.580205,1.921208,0.081514,1.662715
9,(frozenmeal),(beer),0.302,0.293,0.170,0.562914,1.921208,0.081514,1.617530
10,(confectionery),(wine),0.276,0.287,0.144,0.521739,1.817906,0.064788,1.490818
11,(wine),(confectionery),0.287,0.276,0.144,0.501742,1.817906,0.064788,1.453063
12,"(cannedveg, beer)",(frozenmeal),0.167,0.302,0.146,0.874251,2.894873,0.095566,5.550762
13,"(cannedveg, frozenmeal)",(beer),0.173,0.293,0.146,0.843931,2.880309,0.095311,4.530037
14,"(frozenmeal, beer)",(cannedveg),0.170,0.303,0.146,0.858824,2.834401,0.094490,4.937083
15,(cannedveg),"(frozenmeal, beer)",0.303,0.170,0.146,0.481848,2.834401,0.094490,1.601847
16,(beer),"(cannedveg, frozenmeal)",0.293,0.173,0.146,0.498294,2.880309,0.095311,1.648374
17,(frozenmeal),"(cannedveg, beer)",0.302,0.167,0.146,0.483444,2.894873,0.095566,1.612603
18,"(fish, cannedveg)",(frozenmeal),0.089,0.302,0.051,0.573034,1.897463,0.024122,1.634789
19,"(fish, frozenmeal)",(cannedveg),0.090,0.303,0.051,0.566667,1.870187,0.023730,1.608462
20,(cannedveg),"(fish, frozenmeal)",0.303,0.090,0.051,0.168317,1.870187,0.023730,1.094167
21,(frozenmeal),"(fish, cannedveg)",0.302,0.089,0.051,0.168874,1.897463,0.024122,1.096104
22,"(fish, beer)",(frozenmeal),0.085,0.302,0.050,0.588235,1.947799,0.024330,1.695143
23,"(fish, frozenmeal)",(beer),0.090,0.293,0.050,0.555556,1.896094,0.023630,1.590750
24,(beer),"(fish, frozenmeal)",0.293,0.090,0.050,0.170648,1.896094,0.023630,1.097243
25,(frozenmeal),"(fish, beer)",0.302,0.085,0.050,0.165563,1.947799,0.024330,1.096548

In [8]:
retail_df

,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,0,1,1,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,1
2,0,0,0,1,0,1,1,0,0,1,0
3,0,0,1,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,0,0,0,0,0,0,0
996,0,0,0,1,0,0,0,0,0,1,0
997,0,1,0,0,0,0,0,0,0,0,0
998,1,0,0,0,0,0,0,1,0,0,1
999,0,0,1,0,0,0,0,0,1,0,1